<body>

    <div>
        <div class="sticky w-full js-header top-0 transition-all" style="z-index: 99">
            <div class="relative bg-white shadow">
                <div class="max-w-7xl mx-auto px-4 sm:px-6">
                    <div class="
                  flex
                  justify-between
                  items-center
                  py-2
                  md:justify-start md:space-x-10
                  rtl:space-x-reverse
                ">
                        <div class="flex justify-start lg:w-0 lg:flex-1">
                            <a href="/">
                                <span class="sr-only">Akaunting</span>

                                <img class="w-56" src="https://assets.akaunting.com/site/img/logo/akaunting-logo-horizontal.svg" alt="free accounting software" />
                            </a>
                        </div>

                        <div class="-mr-2 -my-2 md:hidden js-hamburger-icon">
                            <button type="button" class="
                      bg-white
                      rounded-md
                      p-2
                      inline-flex
                      items-center
                      justify-center
                      text-gray-400
                    " aria-expanded="false">
                    <span class="sr-only">Open menu</span>
    
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h16"
                      ></path>
                    </svg>
                  </button>
                        </div>

                        <nav class="hidden md:flex space-x-10 rtl:space-x-reverse">
                            <div class="relative js-nav">
                                <button type="button" class="
                        text-gray-500
                        group
                        rounded-md
                        inline-flex
                        items-center
                        text-base
                        font-medium
                        hover:text-gray-900
                        focus:outline-none
                        cursor-auto
                      " aria-expanded="false">
                      <span>Apps</span>
                      <div class="absolute bg-transparent z-20 w-full h-24"></div>
                    </button>
                                <div class="
                        absolute
                        z-10
                        left-1/2
                        transform
                        -translate-x-1/2
                        mt-3
                        px-2
                        w-screen
                        max-w-md
                        sm:px-0
                        lg:max-w-3xl
                        js-nav-child
                        hidden
                      ">
                                    <div class="
                          rounded-lg
                          shadow-lg
                          ring-1 ring-black ring-opacity-5
                          overflow-hidden
                        ">
                                        <div class="
                            relative
                            grid
                            gap-6
                            bg-white
                            px-5
                            py-6
                            sm:gap-8 sm:p-8
                            lg:grid-cols-2
                          ">
                                            <a href="/apps/double-entry" class="
                              -m-3
                              p-3
                              flex
                              items-start
                              rounded-lg
                              hover:bg-gray-50
                              transition
                              ease-in-out
                              duration-150
                            ">
                                                <div class="
                                flex-shrink-0 flex
                                items-center
                                justify-center
                                h-10
                                w-10
                                rounded-md
                                bg-main-page-purple
                                text-white
                                sm:h-12 sm:w-12
                              ">
                                                    <i class="fas fa-balance-scale"></i>
                                                </div>

                                                <div class="ltr:ml-4 rtl:mr-4">
                                                    <p class="text-base font-medium text-gray-900">
                                                        Double-Entry
                                                    </p>

                                                    <p class="mt-1 text-sm text-gray-500">
                                                        Bring Chart of Accounts, Balance Sheet, General Ledger and more into Akaunting.
                                                    </p>
                                                </div>
                                            </a>

                                            <a href="/apps/inventory" class="
                              -m-3
                              p-3
                              flex
                              items-start
                              rounded-lg
                              hover:bg-gray-50
                              transition
                              ease-in-out
                              duration-150
                            ">
                                                <div class="
                                flex-shrink-0 flex
                                items-center
                                justify-center
                                h-10
                                w-10
                                rounded-md
                                bg-main-page-purple
                                text-white
                                sm:h-12 sm:w-12
                              ">
                                                    <i class="fas fa-box-open"></i>
                                                </div>

                                                <div class="ltr:ml-4 rtl:mr-4">
                                                    <p class="text-base font-medium text-gray-900">
                                                        Inventory
                                                    </p>

                                                    <p class="mt-1 text-sm text-gray-500">
                                                        Track your commerce business professionally and grow your business.
                                                    </p>
                                                </div>
                                            </a>

                                            <a href="/apps/custom-fields" class="
                              -m-3
                              p-3
                              flex
                              items-start
                              rounded-lg
                              hover:bg-gray-50
                              transition
                              ease-in-out
                              duration-150
                            ">
                                                <div class="
                                flex-shrink-0 flex
                                items-center
                                justify-center
                                h-10
                                w-10
                                rounded-md
                                bg-main-page-purple
                                text-white
                                sm:h-12 sm:w-12
                              ">
                                                    <i class="fas fa-window-restore"></i>
                                                </div>

                                                <div class="ltr:ml-4 rtl:mr-4">
                                                    <p class="text-base font-medium text-gray-900">
                                                        Custom Fields
                                                    </p>
                                                    <p class="mt-1 text-sm text-gray-500">
                                                        Add custom fields to your forms with just a few clicks.
                                                    </p>
                                                </div>
                                            </a>

                                            <a href="/apps/payroll" class="
                              -m-3
                              p-3
                              flex
                              items-start
                              rounded-lg
                              hover:bg-gray-50
                              transition
                              ease-in-out
                              duration-150
                            ">
                                                <div class="
                                flex-shrink-0 flex
                                items-center
                                justify-center
                                h-10
                                w-10
                                rounded-md
                                bg-main-page-purple
                                text-white
                                sm:h-12 sm:w-12
                              ">
                                                    <i class="fas fa-money-check-alt"></i>
                                                </div>

                                                <div class="ltr:ml-4 rtl:mr-4">
                                                    <p class="text-base font-medium text-gray-900">
                                                        Payroll
                                                    </p>
                                                    <p class="mt-1 text-sm text-gray-500">
                                                        Manage employee salaries, deductions and benefits effortlessly.
                                                    </p>
                                                </div>
                                            </a>

                                            <a href="/apps/crm" class="
                              -m-3
                              p-3
                              flex
                              items-start
                              rounded-lg
                              hover:bg-gray-50
                              transition
                              ease-in-out
                              duration-150
                            ">
                                                <div class="
                                flex-shrink-0 flex
                                items-center
                                justify-center
                                h-10
                                w-10
                                rounded-md
                                bg-main-page-purple
                                text-white
                                sm:h-12 sm:w-12
                              ">
                                                    <i class="fas fa-handshake"></i>
                                                </div>

                                                <div class="ltr:ml-4 rtl:mr-4">
                                                    <p class="text-base font-medium text-gray-900">CRM</p>
                                                    <p class="mt-1 text-sm text-gray-500">
                                                        Increase your revenue with better customer relationships.
                                                    </p>
                                                </div>
                                            </a>

                                            <a href="/apps/expenses" class="
                              -m-3
                              p-3
                              flex
                              items-start
                              rounded-lg
                              hover:bg-gray-50
                              transition
                              ease-in-out
                              duration-150
                            ">
                                                <div class="
                                flex-shrink-0 flex
                                items-center
                                justify-center
                                h-10
                                w-10
                                rounded-md
                                bg-main-page-purple
                                text-white
                                sm:h-12 sm:w-12
                              ">
                                                    <i class="fas fa-file-invoice-dollar"></i>
                                                </div>

                                                <div class="ltr:ml-4 rtl:mr-4">
                                                    <p class="text-base font-medium text-gray-900">
                                                        Expenses
                                                    </p>
                                                    <p class="mt-1 text-sm text-gray-500">
                                                        Track expenses efficiently, both paid by employee or company.
                                                    </p>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="p-5 bg-gray-50 sm:p-8">
                                            <a href="/apps" class="
                              -m-3
                              p-3
                              flow-root
                              rounded-md
                              hover:bg-gray-100
                              transition
                              ease-in-out
                              duration-150
                            ">
                                                <span class="flex items-center">
                              <span class="text-base font-medium text-gray-900">
                                View All
                              </span>
                                                </span>

                                                <span class="mt-1 block text-sm text-gray-500">
                              Take your busines to the next level.
                            </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="https://akaunting.com/features" target="_self" class="text-base font-medium text-gray-500 hover:text-gray-900">
                    Features</a
                  >
                  <a
                    href="https://akaunting.com/support"
                    target="_self"
                    class="text-base font-medium text-gray-500 hover:text-gray-900"
                  >
                    Support</a
                  >
                  <a
                    href="https://akaunting.com/blog/"
                    target="_self"
                    class="text-base font-medium text-gray-500 hover:text-gray-900"
                  >
                    Blog</a
                  >
                </nav>
    
                <div
                  class="hidden md:flex items-center justify-end md:flex-1 lg:w-0"
                >
                  <a
                    href="https://akaunting.com/login"
                    class="
                      whitespace-nowrap
                      text-base
                      font-medium
                      text-gray-500
                      hover:text-gray-900
                    "
                  >
                    Sign in
                  </a>

                            <a href="https://akaunting.com/login" class="
                      flex
                      items-center
                      justify-center
                      px-4
                      py-2
                      border
                      rounded-md
                      shadow-sm
                      text-base
                      font-medium
                      text-gray-500
                      bg-white
                      border-thin-gray
                      hover:bg-thin-gray
                      hidden
                    ">
                    Sign in
                  </a>

                            <a href="https://akaunting.com/start" class="
                      ltr:ml-8
                      rtl:mr-8
                      whitespace-nowrap
                      inline-flex
                      items-center
                      justify-center
                      px-4
                      py-2
                      border border-transparent
                      rounded-md
                      shadow-sm
                      text-base
                      font-medium
                      text-white
                      bg-default
                      hover:bg-default-hover
                    ">
                    Get Started
                  </a>
                    </div>
                </div>
            </div>

            <div class="
                absolute
                top-0
                inset-x-0
                z-10
                p-2
                transition
                transform
                origin-top-right
                md:hidden
                hidden
                js-hamber-menu
              ">
                <div class="
                  rounded-lg
                  shadow-lg
                  ring-1 ring-black ring-opacity-5
                  bg-white
                  divide-y-2 divide-gray-50
                ">
                    <div class="pt-5 pb-6 px-5">
                        <div class="flex items-center justify-between">
                            <div>
                                <img class="h-12 w-auto" src="https://assets.akaunting.com/site/img/logo/akaunting-logo-horizontal.svg" alt="Akaunting" />
                            </div>

                            <div class="-mr-2 js-close-menu">
                                <button type="button" class="
                          bg-white
                          rounded-md
                          p-2
                          inline-flex
                          items-center
                          justify-center
                          text-gray-400
                          hover:text-gray-500 hover:bg-gray-100
                          focus:outline-none
                          focus:ring-2
                          focus:ring-inset
                          focus:ring-indigo-500
                        ">
                        <span class="sr-only">Close menu</span>
    
                        <svg
                          class="h-6 w-6"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          aria-hidden="true"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M6 18L18 6M6 6l12 12"
                          ></path>
                        </svg>
                      </button>
                            </div>
                        </div>

                        <div class="mt-6">
                            <nav class="grid gap-y-6">
                                <a href="/apps" class="
                          -m-3
                          p-3
                          flex
                          items-center
                          rounded-md
                          hover:bg-gray-50
                        ">
                                    <span class="
                            ml-3
                            text-base
                            font-medium
                            text-gray-500
                            hover:text-gray-900
                          ">
                          Apps
                        </span>
                                </a>

                                <a href="/features" class="
                          -m-3
                          p-3
                          flex
                          items-center
                          rounded-md
                          hover:bg-gray-50
                        ">
                                    <span class="
                            ml-3
                            text-base
                            font-medium
                            text-gray-500
                            hover:text-gray-900
                          ">
                          Features
                        </span>
                                </a>

                                <a href="/support" class="
                          -m-3
                          p-3
                          flex
                          items-center
                          rounded-md
                          hover:bg-gray-50
                        ">
                                    <span class="
                            ml-3
                            text-base
                            font-medium
                            text-gray-500
                            hover:text-gray-900
                          ">
                          Support
                        </span>
                                </a>

                                <a href="/blog" class="
                          -m-3
                          p-3
                          flex
                          items-center
                          rounded-md
                          hover:bg-gray-50
                        ">
                                    <span class="
                            ml-3
                            text-base
                            font-medium
                            text-gray-500
                            hover:text-gray-900
                          ">
                          Blog
                        </span>
                                </a>
                            </nav>
                        </div>
                    </div>

                    <div class="py-6 px-5 space-y-6">
                        <div>
                            <a href="/login" id="button-mobile-login" class="
                        w-full
                        flex
                        items-center
                        justify-center
                        px-4
                        py-2
                        border
                        rounded-md
                        shadow-sm
                        text-base
                        font-medium
                        text-gray-500
                        bg-white
                        border-thin-gray
                        hover:bg-thin-gray
                      ">
                      Sign In
                    </a>

                            <a href="/start" class="
                        mt-6
                        w-full
                        flex
                        whitespace-nowrap
                        inline-flex
                        items-center
                        justify-center
                        px-4
                        py-2
                        border border-transparent
                        rounded-md
                        shadow-sm
                        text-base
                        font-medium
                        text-white
                        bg-default
                        hover:bg-default-hover
                      ">
                      Get Started
                    </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="
                fixed
                inset-0
                bg-gray-500 bg-opacity-75
                transition-opacity
                md:hidden
                hidden
                js-hamber-menu js-close-menu
              "></div>
        </div>
    </div>

    <div class="bg-white mb-32">
        <div class="
              max-w-7xl
              mx-auto
              py-8
              lg:py-24
              px-4
              sm:px-6
              lg:flex
              items-start
              lg:justify-between
            ">
            <div class="max-w-xl">
                <h1 class="
                  text-4xl
                  font-extrabold
                  text-gray-900
                  sm:tracking-tight
                  lg:text-6xl
                ">
                    تتبع أموالك بكفاء عالية
                </h1>

                <p class="mt-5 text-xl text-gray-500">
                    يتيح لك تتبع مداخيلك ونتائجك دون أي متاعب.
                </p>
            </div>
            <div class="w-full sm:w-3/4 lg:w-1/2 xl:w-1/3 sm:mt-12 lg:mt-0">
                <div class="relative py-3">
                    <div class="
                    absolute
                    inset-0
                    bg-gradient-to-r
                    from-light-purple
                    to-main-page-purple
                    shadow-lg
                    transform
                    -skew-y-6
                    sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl
                    hidden
                    md:block
                  "></div>
                    <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl">
                        <form method="POST" action="https://akaunting.com/login" accept-charset="UTF-8" name="login-form" id="login-form" class="flex flex-col">
                            <input name="_token" type="hidden" value="vTm68hkEO0yxj3rjl7NacnLfJWmRzoUBw7jR4f6h" />

                            <div class="grid grid-cols-6 gap-6">
                                <div class="col-span-6 sm:col-span-6">
                                    <label for="sign-in-email" class="block text-sm font-medium text-gray-700">
                          البريد الالكتروني <span class="text-red">*</span>
                        </label>
                                    <input type="text" name="email" id="sign-in-email" value="" class="
                            focus:outline-none
                            focus:ring-transparent
                            focus:border-main-page-purple
                            mt-1
                            block
                            w-full
                            shadow-sm
                            sm:text-sm
                            border-gray-300
                            rounded-md
                            required
                          " autofocus="" />
                                </div>

                                <div class="col-span-6 sm:col-span-6">
                                    <label for="register-form-email" class="block text-sm font-medium text-gray-700">
                          كلمة المرور <span class="text-red">*</span>
                        </label>
                                    <input type="password" name="password" id="register-form-email" value="" class="
                            focus:outline-none
                            focus:ring-transparent
                            focus:border-main-page-purple
                            mt-1
                            block
                            w-full
                            shadow-sm
                            sm:text-sm
                            border-gray-300
                            rounded-md
                            required
                          " autofocus="" />
                                </div>

                                <div class="col-span-6 sm:col-span-6">
                                    <div>
                                        <div class="flex items-center">
                                            <div class="g-recaptcha" data-sitekey="6LdpwD4UAAAAAEYYq6nwwz88u0-KaGHoIKahvNT9">
                                                <div style="width: 304px; height: 78px">
                                                    <div>
                                                        <iframe title="reCAPTCHA" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdpwD4UAAAAAEYYq6nwwz88u0-KaGHoIKahvNT9&amp;co=aHR0cHM6Ly9ha2F1bnRpbmcuY29tOjQ0Mw..&amp;hl=en&amp;v=6pQzWaE1NP-gB4FrqRViKjM-&amp;size=normal&amp;cb=q3keubqljzq2" width="304"
                                                            height="78" role="presentation" name="a-t0od76v1hu4z" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                                                    </div>
                                                    <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="
                                    width: 250px;
                                    height: 40px;
                                    border: 1px solid rgb(193, 193, 193);
                                    margin: 10px 25px;
                                    padding: 0px;
                                    resize: none;
                                    display: none;
                                  "></textarea>
                                                </div>
                                                <iframe style="display: none"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-span-6 sm:col-span-6 flex items-center">
                                    <input id="sign-in-remember" name="remember_me" type="checkbox" class="
                            h-4
                            w-4
                            text-main-page-purple
                            focus:outline-none
                            focus:ring-transparent
                            focus:border-main-page-purple
                            border-gray-300
                            js-input
                          " />
                                    <label for="sign-in-remember" class="
                            ltr:ml-2
                            rtl:mr-2
                            block
                            text-sm
                            font-medium
                            text-gray-700
                          ">
                          Remember me
                        </label>
                                </div>

                                <div class="col-span-6 sm:col-span-6">
                                    <button type="submit " class="
                            w-full
                            inline-flex
                            items-center
                            justify-center
                            py-2
                            px-4
                            border-transparent
                            text-sm
                            font-sm
                            rounded-md
                            text-white
                            bg-main-page-purple
                            focus:outline-none
                            hover:bg-main-purple-hover
                            js-button-submit
                          ">
                          Sign in
                        </button>
                                </div>

                                <div class="col-span-6 sm:col-span-3 mt-5 sm:-mt-3">
                                    <a href="https://akaunting.com/reset " class="
                            text-sm
                            font-medium
                            text-gray-500
                            hover:text-gray-900
                            lg:mb-0
                          ">Forgot Password?</a
                        >
                      </div>
    
                      <div
                        class="
                          col-span-6
                          sm:col-span-3
                          -mt-3
                          text-left
                          lg:text-right
                        "
                      >
                        <a
                          href="https://akaunting.com/register "
                          class="
                            text-sm
                            font-medium
                            text-gray-500
                            hover:text-gray-900
                            lg:mb-0
                          "
                          >Register a new account</a
                        >
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <footer
          class="bg-white bg-gray-100 border-t"
          aria-labelledby="footer-heading "
        >
          <h2 id="footer-heading " class="sr-only">Footer</h2>
    
          <div class="max-w-7xl mx-auto py-8 lg:py-12 px-4 sm:px-6">
            <div class="flex flex-col lg:flex-row justify-between">
              <div
                class="
                  flex flex-col
                  items-start
                  justify-center
                  w-full
                  md:w-1/3
                  lg:ltr:pr-24 lg:rtl:pl-24
                "
              >
                <img
                  src="https://assets.akaunting.com/site/img/logo/akaunting-logo-horizontal.svg "
                  alt="akaunting logo "
                  class="h-12"
                />
    
                <p class="text-gray-500 text-base w-80 mt-5">
                  Online, open source and free accounting software built with modern
                  technologies. Track your income and expenses with ease.
                </p>
    
                <select
                  onchange="this.options[this.selectedIndex].value &amp;&amp; (window.location=t his.options[this.selectedIndex].value); "
                  class="
                    w-48
                    block
                    pl-3
                    pr-10
                    py-2
                    bg-transparent
                    focus:ring-transparent
                    text-gray-500
                    border-gray-300
                    focus:border-gray-500
                    mt-3
                    sm:text-sm
                    rounded-md
                    focus:outline-none
                    select:outline-none
                  "
                >
                  <option
                    lang="en "
                    selected=" "
                    value="https://akaunting.com/login "
                  >
                    English
                  </option>
                  <option lang="tr " value="https://akaunting.com/tr/login ">
                    Türkçe
                  </option>
                </select>
              </div>
    
              <div
                class="
                  flex flex-col
                  md:flex-row
                  justify-between
                  w-full
                  lg:w-2/3
                  mt-8
                  lg:mt-0
                "
              >
                <div class="mb-8 lg:mb-0">
                  <h3
                    class="
                      text-sm
                      font-semibold
                      text-gray-400
                      tracking-wider
                      uppercase
                    "
                  >
                    Trending Apps
                  </h3>
    
                  <ul class="mt-4 space-y-4">
                    <li>
                      <a
                        href="https://akaunting.com/apps/double-entry "
                        target="_self "
                        class="text-base text-gray-500 hover:text-gray-900"
                      >
                        Double-Entry</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://akaunting.com/apps/inventory "
                        target="_self "
                        class="text-base text-gray-500 hover:text-gray-900"
                      >
                        Inventory</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://akaunting.com/apps/custom-fields "
                        target="_self "
                        class="text-base text-gray-500 hover:text-gray-900"
                      >
                        Custom Fields</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://akaunting.com/apps/estimates "
                        target="_self "
                        class="text-base text-gray-500 hover:text-gray-900"
                      >
                        Estimates (Quotes)</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://akaunting.com/apps/projects "
                        target="_self "
                        class="text-base text-gray-500 hover:text-gray-900"
                      >
                        Projects</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://akaunting.com/apps/expenses "
                        target="_self "
                        class="text-base text-gray-500 hover:text-gray-900"
                      >
                        Expenses</a
                      >
                    </li>
                  </ul>
                </div>
    
                <div class="mb-8 lg:mb-0">
                  <h3
                    class="
                      text-sm
                      font-semibold
                      text-gray-400
                      tracking-wider
                      uppercase
                    "
                  >
                    Resources
                  </h3>
    
                  <ul class="mt-4 space-y-4">
                    <li>
                      <a
                        href="https://akaunting.com/plans "
                        target="_self "
                        class="text-base text-gray-500 hover:text-gray-900"
                      >
                        Plans</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://akaunting.com/blog/announcing-100k-apps-fund "
                        target="_self "
                        class="text-base text-gray-500 hover:text-gray-900"
                      >
                        $100K Apps Fund</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://akaunting.com/docs "
                        target="_self "
                        class="text-base text-gray-500 hover:text-gray-900"
                      >
                        Documentation</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://akaunting.com/forum "
                        target="_self "
                        class="text-base text-gray-500 hover:text-gray-900"
                      >
                        Community Support</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://developer.akaunting.com "
                        target="_self "
                        class="text-base text-gray-500 hover:text-gray-900"
                      >
                        Developers</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://akaunting.com/free-tools "
                        target="_self "
                        class="text-base text-gray-500 hover:text-gray-900"
                      >
                        Free Tools</a
                      >
                    </li>
                  </ul>
                </div>
    
                <div class="mb-8 lg:mb-0">
                  <h3
                    class="
                      text-sm
                      font-semibold
                      text-gray-400
                      tracking-wider
                      uppercase
                    "
                  >
                    Links
                  </h3>
    
                  <ul class="mt-4 space-y-4">
                    <li>
                      <a
                        href="https://akaunting.com/blog/open-source-accounting-software "
                        target="_self "
                        class="text-base text-gray-500 hover:text-gray-900"
                      >
                        Open Source Accounting Software</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://akaunting.com/wave-accounting-alternative "
                        target="_self "
                        class="text-base text-gray-500 hover:text-gray-900"
                      >
                        Free Wave Accounting Alternative</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://akaunting.com/blog/online-accounting-software "
                        target="_self "
                        class="text-base text-gray-500 hover:text-gray-900"
                      >
                        Online Accounting Software</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://akaunting.com/blog/free-quickbooks-alternative "
                        target="_self "
                        class="text-base text-gray-500 hover:text-gray-900"
                      >
                        Free QuickBooks Alternative</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://akaunting.com/blog/free-freshbooks-alternative "
                        target="_self "
                        class="text-base text-gray-500 hover:text-gray-900"
                      >
                        Free FreshBooks Alternative</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
            <div
              class="
                lg:mt-12
                border-t border-gray-200
                pt-5
                flex
                justify-between
                items-start
                lg:items-center
                flex-col
                lg:flex-row
              "
            >
              <div class="text-base text-gray-400 xl:text-center mb-3 lg:mb-0">
                <div class="flex flex-col lg:flex-row">
                  Copyright © 2017-2022 Akaunting Inc. &nbsp;&nbsp;| &nbsp;&nbsp;
                  <div class="mt-5 mb-5 lg:mt-0 lg:mb-0">
                    <a href="/about " target="_self "> About</a> &nbsp;&nbsp;| &nbsp;&nbsp;
                                    <a href="/terms
                                                " target="_self ">
                      Terms</a
                    >
                    &nbsp;&nbsp;| &nbsp;&nbsp;<a href="/privacy " target="_self ">
                      Privacy</a
                    >
                    &nbsp;&nbsp;| &nbsp;&nbsp;<a href="/contact " target="_self ">
                      Contact</a
                    >
                  </div>
                </div>
              </div>
    
              <div class="flex space-x-6 rtl:space-x-reverse md:order-2">
                <a
                  href="https://github.com/akaunting "
                  class="text-gray-400 hover:text-gray-500"
                  target="_blank "
                >
                  <span class="sr-only">GitHub</span>
                  <img
                    src="https://assets.akaunting.com/site/img/social/github-brands.svg "
                    class="w-4 h-4"
                    alt="Github "
                  />
                </a>

                                    <a href="https://youtube.com/akaunting " class="text-gray-400 hover:text-gray-500" target="_blank ">
                                        <span class="sr-only">Youtube</span>
                                        <img src="https://assets.akaunting.com/site/img/social/youtube-brands.svg " class="w-4 h-4" alt="Youtube " />
                                    </a>

                                    <a href="https://twitter.com/akaunting " class="text-gray-400 hover:text-gray-500" target="_blank ">
                                        <span class="sr-only">Twitter</span>
                                        <img src="https://assets.akaunting.com/site/img/social/twitter-brands.svg " class="w-4 h-4" alt="Twitter " />
                                    </a>

                                    <a href="https://instagram.com/akaunting " class="text-gray-400 hover:text-gray-500" target="_blank ">
                                        <span class="sr-only">Instagram</span>
                                        <img src="https://assets.akaunting.com/site/img/social/instagram-brands.svg " class="w-4 h-4" alt="Instagram " />
                                    </a>
                                </div>
                            </div>
                    </div>
                    </footer>
                    <!-- #footer end -->
                </div>



</body>

</html>